<p>ここは一覧ページです。</p>

<ul>
  <% @tasks.each do |task| %>
    <div>
      <li>タスクID：<%= link_to task.id, task %>&gt;進捗：<%= task.status %>&gt;タスク：<%= task.content %> <span class="text-muted">posted at <%= task.created_at %></span></li>
    </div>
    <div>
      <% if current_user == task.user %>
        <%= link_to "Delete", task, method: :delete, data: { confirm: "タスクを削除しますか？" }, class: 'btn btn-danger btn-sm' %>
      <% end %>
    </div>
  <% end %>
</ul>

<%= link_to '新規タスクの投稿', new_task_path, class: 'btn btn-lg btn-primary'%>
<%= link_to 'Sign up now', signup_path, class: 'btn btn-lg btn-primary' %>
<%= paginate @tasks %>